@media screen and (max-width: 768px) {
  
    .cio-career-h1 {
      font-size: 2.625rem;
      line-height: 3.125rem;
    }
    
    .cio-career-h2 {
      font-size: 1.75rem;
      line-height: 2.25rem;
    }
    
    .cio-career-h3 {
      font-size: 1.25rem;
      line-height: 1.625rem;
    }
    
    .cio-career-small {
      font-size: 0.75rem
    }
  
    .cio-career-medium {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  
    .cio-career-padding-big {
      padding-top:3rem !important;
      padding-bottom: 1.5rem !important;
    }
  
    .cio-career-padding-top-normal{
      padding-top: 1rem !important;
    }
    .cio-career-padding-bottom-normal{
      padding-bottom: 1rem !important;
    }
  
    .cio-career-aglign-center{
      text-align:center;
    }
  
    .cover-title {
      background-image: url("../img/Banner-Web.png");
      background-size: auto 100%;
      background-repeat: no-repeat;
      color: #fff;
    }
  
    .job-opportunity .tab-content .job-card {
      margin-top: 1rem;
      background-color: #fff;
      height: 400px;
    }
    .job-card-content{
      padding:1.5rem;
      max-height: 400px;
    }
    
    .industryHireImg {
      height: 100%;
      width: 10px;
      padding:0px !important;
    }
  
    .becomePartOfCard {
      height:18rem;
    }
    .becomePartOfCardPad{
      padding-left: 1rem;
      padding-right: 1rem;
    }
  
    .cio-career-padding-top-p{
      padding-top: 1rem;
    }
  
    .cio-career-padding-top-h3{
      padding-top: 2rem
    }
  
    .paddingContent{
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .becomePartOfCardImg{
      width: 100% !important;
    }

    .carousel-indicators {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 15;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      padding-left: 0;
      margin-right: 15%;
      margin-left: 15%;
      list-style: none;
  }

  }
  
  @media screen and (min-width: 768px) {
    
    .cio-career-h1 {
      font-size: 4.75rem;
      line-height: 5.375rem;
    }
    
    .cio-career-h2 {
      font-size: 2rem;
      line-height: 2.5rem;
    }
    
    .cio-career-h3 {
      font-size: 1.5rem;
      line-height: 1.875rem;
    }
    
    .cio-career-small {
      font-size: 0.875rem
    }
  
    .cio-career-medium {
      font-size: 3.75rem;
      line-height: 4.375rem;
    }
  
    .cio-career-padding-big {
      padding-top:5rem !important;
      padding-bottom: 3.25rem !important;
    }
  
    .cio-career-padding-top-normal{
      padding-top: 2.5rem !important;
    }
  
    .cio-career-padding-bottom-normal{
      padding-bottom: 2.5rem !important;
    }
  
    .cover-title {
      background-image: url("../img/Banner-Web.png");
      background-size: auto 100%;
      background-repeat: no-repeat;
      color: #fff;
    }
  
    .job-opportunity .tab-content .job-card {
      margin-top: 1rem;
      background-color: #fff;
      height: 222px;
    }
    .job-card-content{
      padding:1.5rem;
      max-height: 222px;
    }
    
    .industryHireImg {
      height: 100%;
      width: 100%;
      max-width: 80px;
      padding:0px !important;
    }
  
    .becomePartOfCard {
      height:30rem;
    }

    .becomePartOfCardPad{
      padding-left: 7rem;
      padding-right: 8.5rem;
    }
  
    .cio-career-padding-top-p{
      padding-top: 2rem;
    }
    
    .cio-career-padding-top-h3{
      padding-top: 4rem
    }

    .becomePartOfCardImg{
      height: 100% !important;
    }

    .carousel-indicators {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 15;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      padding-left: 0;
      margin-right: 15%;
      margin-left: 15%;
      list-style: none;
  }
  }

  #main p {
    padding-bottom: 0px
  }

  .fontWeight{
    font-weight: 300;
  }