@media screen and (max-width: 768px) {
  .cio-jd-padding-big{
    padding-top:3.75rem !important;
    padding-bottom: 3.75rem !important;
  }

  .position {
    background-image: url("../img/JD-banner-Mobile.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    color: #F4F4F4;
  }
}

@media screen and (min-width: 768px) {
  .cio-jd-padding-big{
    padding-top:7.5rem !important;
    padding-bottom: 7.5rem !important;
  }

  .position {
    background-image: url("../img/JD-banner-Web.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    color: #F4F4F4;
  }
}


.details {
  background-color: #F4F4F4 !important;
}

.position-name p{
    text-align: center;
}

