@media screen and (max-width: 768px) {
  #carouselBecomePartOf .carousel-indicators {
    position: absolute;
    right: auto !important;
    bottom: 0;
    left: 31px !important;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 0 !important;
    margin-left: 0 !important;
    list-style: none;
}
}

@media screen and (min-width: 768px) {
  #carouselBecomePartOf .carousel-indicators {
    position: absolute;
    right: auto !important;
    bottom: 0;
    left: calc(7rem + 50%);
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 0 !important;
    margin-left: 0 !important;
    list-style: none;
}
  
}
.careerPurple {
  color: #8A3FFC;
}

.emailImg{
  background-image: url("../img/icon-Email.png");
  background-size: 36px 36px;
}

.emailImg:hover{
  background-image: url("../img/icon-Email(hover).png");
  background-size: 36px 36px;
}
.inImg{
  background-image: url("../img/icon-Linkedin.png");
  background-size: 36px 36px;
}

.inImg:hover{
  background-image: url("../img/icon-Linkedin(hover).png");
  background-size: 36px 36px;
}
.wechatImg{
  background-image: url("../img/icon-WeChat.png");
  background-size: 36px 36px;
}

.wechatImg:hover{
  background-image: url("../img/icon-WeChat(hover).png");
  background-size: 36px 36px;
}
.contactImg{
  height:36px;
  width:36px;
  display: inline-block;
}
.normal-icon{
  height:45px;
  width:45px;
}

.ibm-background-color {
  background-color: #f4f4f4 !important;
}

/* .cover-title p {
  font-size: 1.2rem;
}

.cover-title .col-sm {
  padding: 2rem 3rem;
}

.cover-title h1 {
  font-size: 4rem;
} */


/* 对 */
.our-commitment .col-sm {
  padding: 0rem;
}

.focused-areas .col-sm {
  padding: 0rem;
}

.focused-areas .icon-col {
  flex: 0 0 100px;
}

#agile {
  width: 315px;
}

.become-part-of .col-sm:first-child {
  padding: 0;
}

.become-part-of .col-sm:first-child img {
  width: 100%;
}

.become-part-of .row {
  background-color: #fff;
  margin-left: 0px;
  margin-right: 0px;
}

.become-part-of .carousel {
  height: 100%;
}

.become-part-of .carousel .carousel-indicators li {
  background-color: #000;
}

/* .become-part-of .carousel .carousel-item {
  padding: 3rem;
} */


.meet-our-team {
  margin-left: -15px;
  margin-right: -15px;
  background-image: url("../img/Team-background-Web.png");
  background-size: 100% auto;
  background-repeat: repeat;
}

.meet-our-team>P:first-child {
  color: #fff;
  text-align: center;
}


.meet-our-team .carousel-item .task-card {
  padding: 1rem;
  background-color: #fff;
  height: 258px;
}

.meet-our-team ol{
  padding: 0px;
}

.meet-our-team .carousel-item .task-card h6 {
  margin-top: 0.5rem;
}


.job-opportunity>p:first-child {
  text-align: center;
}



.job-opportunity .tab-content .job-card p:last-child {
  margin-bottom: 0;
}





.industryHireTab .row {
  margin-left: 0px;
  margin-right: 0px;

}

.industryHireLeft{
  float: left; 
  width: 10px;
  position: relative;
}
.industryHireRight{
  float: right;
  width: 100%;
  margin-left: -100px;
}


.test{
  display: -webkit-box !important;
  overflow: hidden !important;
  white-space: normal !important;
  text-overflow: ellipsis !important;
  word-wrap: break-word !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
}