@media screen and (max-width: 768px) {
  #carouselBecomePartOf .carousel-indicators {
    position: absolute;
    right: auto !important;
    bottom: 0;
    left: 31px !important;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 0 !important;
    margin-left: 0 !important;
    list-style: none;
}

.task-card {
  padding: 1.8125rem 1.5rem 1.5rem;
  background-color: #fff;
  height: 16.8125rem;
}

.cio-career-top-pad-medium{
  padding-top: 2.5rem;
}
.teamName-top-pad{
  padding-top: 1.5rem;
}
.meet-our-team {
  margin-left: -15px;
  margin-right: -15px;
  background-image: url("../img/Team-background-Mobile.png");
  background-size: 100% 100%;
  background-repeat: repeat;
}
}

@media screen and (min-width: 768px) {

  #carouselBecomePartOf .carousel-indicators {
    position: absolute;
    right: auto !important;
    bottom: 0;
    left: calc(7rem + 50%);
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 0 !important;
    margin-left: 0 !important;
    list-style: none;
}

.task-card {
  padding: 2.4375rem 1.5rem 1rem;
  background-color: #fff;
  height: 16.875rem;
}
.cio-career-top-pad-medium{
  padding-top: 5rem;
}
.teamName-top-pad{
  padding-top: 1rem;
}
.meet-our-team {
  margin-left: -15px;
  margin-right: -15px;
  background-image: url("../img/Team-background-Web.png");
  background-size: 100% auto;
  background-repeat: repeat;
}
  
}
.careerPurple {
  color: #8A3FFC;
}

.emailImg{
  background-image: url("../img/icon-Email.png");
  background-size: 36px 36px;
}

.emailImg:hover{
  background-image: url("../img/icon-Email(hover).png");
  background-size: 36px 36px;
}
.inImg{
  background-image: url("../img/icon-Linkedin.png");
  background-size: 36px 36px;
}

.inImg:hover{
  background-image: url("../img/icon-Linkedin(hover).png");
  background-size: 36px 36px;
}
.wechatImg{
  background-image: url("../img/icon-WeChat.png");
  background-size: 36px 36px;
}

.wechatImg:hover{
  background-image: url("../img/icon-WeChat(hover).png");
  background-size: 36px 36px;
}
.contactImg{
  height:36px;
  width:36px;
  display: inline-block;
}
.normal-icon{
  height:45px;
  width:45px;
}

.ibm-background-color {
  background-color: #f4f4f4 !important;
}

.ibm-columns{
  padding: 0 16px !important;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 0px !important; 
  padding-left: 0px !important;
}
.row{
  margin-right: 0px !important;
  margin-left: 0px !important;
}
/* .cover-title p {
  font-size: 1.2rem;
}

.cover-title .col-sm {
  padding: 2rem 3rem;
}

.cover-title h1 {
  font-size: 4rem;
} */


/* 对 */
.our-commitment .col-sm {
  padding: 0rem;
}

.focused-areas .col-sm {
  padding: 0rem;
}

.focused-areas .icon-col {
  flex: 0 0 100px;
}

#agile {
  width: 315px;
}

.become-part-of .col-sm:first-child {
  padding: 0;
}

.become-part-of .col-sm:first-child img {
  width: 100%;
}

.become-part-of .row {
  background-color: #fff;
  margin-left: 0px;
  margin-right: 0px;
}

.become-part-of .carousel {
  height: 100%;
}

.become-part-of .carousel .carousel-indicators li {
  background-color: #000;
}

/* .become-part-of .carousel .carousel-item {
  padding: 3rem;
} */


/* .meet-our-team>P:first-child {
  color: #fff;
  text-align: center;
} */



.meet-our-team ol{
  padding: 0px;
}

.meet-our-team .carousel-item .task-card h6 {
  margin-top: 0.5rem;
}


/* .job-opportunity>p:first-child {
  text-align: center;
} */



.job-opportunity .tab-content .job-card p:last-child {
  margin-bottom: 0;
}





.industryHireTab .row {
  margin-left: 0px;
  margin-right: 0px;

}

.industryHireLeft{
  float: left; 
  width: 10px;
  position: relative;
}
.industryHireRight{
  float: right;
  width: 100%;
  margin-left: -100px;
}


.ellipsis-6{
  display: -webkit-box;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.ellipsis-2{
  display: -webkit-box;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ellipsis-3{
  display: -webkit-box;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.font-weight-600{
  font-weight: 600;
}